<!--<html>-->
<!--<head>-->
<!--    <meta charset="utf-8">-->
<!--    <meta content="width=device-width, initial-scale=1.0" name="viewport">-->

<!--    <title>Đăng tin</title>-->
<!--    <meta content="" name="description">-->
<!--    <meta content="" name="keywords">-->
<!--    <link th:href="@{/font/css/addroom.css}" rel="stylesheet" type="text/css">-->
<!--</head>-->

<!--<body>-->
<!--&lt;!&ndash; Section: Design Block &ndash;&gt;-->
<!--<section class=" text-center text-lg-start">-->

<!--    <div class="card mb-3">-->
<!--        <div class="row g-0 d-flex align-items-center">-->
<!--            &lt;!&ndash; Cột chứa ảnh &ndash;&gt;-->
<!--            <div class="col-lg-4 d-none d-lg-flex">-->
<!--                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img4.webp" alt="Trendy Pants and Shoes"-->
<!--                     class="w-100 rounded-t-5 rounded-tr-lg-0 rounded-bl-lg-5" />-->
<!--            </div>-->
<!--            &lt;!&ndash; Cột chứa form đăng nhập &ndash;&gt;-->
<!--            <div class="col-lg-8 ml-2">-->
<!--                <div class="card-body py-5 px-md-5">-->


<!--                    <form action="/addreview" th:action="@{/addreview}" th:object="${newreview}"  method="POST" enctype="multipart/form-data">-->
<!--                        <div style="text-align: center;">-->
<!--                            <h1>Khuyến mãi</h1>-->
<!--                        </div>-->

<!--                        &lt;!&ndash; Các phần tử trong form &ndash;&gt;-->
<!--                        <div data-mdb-input-init class="form-outline mb-4">-->
<!--                            <label class="form-label" for="discountname">Tên tiêu đề</label>-->
<!--                            <input type="text" id="discountname" name="discountname"  th:field="*{discountname}" class="form-control" />-->
<!--                        </div>-->

<!--                        <div class="form-outline mb-4">-->
<!--                            <label class="form-label" for="time">Khoảng thời gian</label>-->
<!--                            <input type="number" name="time"  id="time"  class="form-control" />-->
<!--                        </div>-->

<!--                        <div data-mdb-input-init class="form-outline mb-4">-->
<!--                            <label class="form-label" for="percen">Phần trăm</label>-->
<!--                            <input type="number" id="percen" name="percen" th:field="*{discount}" class="form-control" required/>-->
<!--                        </div>-->

<!--                        <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-4">-->
<!--                            Đăng tin-->
<!--                        </button>-->

<!--                    </form>-->
<!--                </div>-->

<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

<!--</section>-->
<!--&lt;!&ndash; Section: Design Block &ndash;&gt;-->
<!--</body>-->



<!--</html>-->

