<!DOCTYPE html>
<html lang="en">
<head th:replace="/user/frag/headuser :: headuser"></head>
<body>

<div th:replace="/user/frag/headeruser :: headeruser"></div>
<div th:replace="/user/frag/navbar :: navbar"></div>

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="font/img/breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
<!--                    <h2>Organi Shop</h2>-->
                    <div class="breadcrumb__option">
                        <a href="./index.html">Home</a>
                        <span>Web</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Product Section Begin -->
<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-5">
                <div class="sidebar">
                    <div class="sidebar__item">
                        <h4>Department</h4>
                        <ul>
                            <li><a href="/filter_add">Tất cả</a></li>
                            <li><a href="/filter_add?area=Nguyên xá">Nguyên Xá</a></li>
                            <li><a href="/filter_add?area=Tu Hoàng">Tu Hoàng</a></li>
                            <li><a href="/filter_add?area=Nhổn">Nhổn</a></li>
                            <li><a href="/filter_add?area=Cầu Diễn">Cầu Diễn</a></li>
                            <li><a href="/filter_add?area=Phú Diễn">Phú Diễn</a></li>
                            <li><a href="/filter_add?area=Tây Tựu">Tây Tựu</a></li>
                            <li><a href="/filter_add?area=Xuân Phương">Xuân Phương</a></li>
                            <li><a href="/filter_add?area=Minh Khai">Minh Khai</a></li>
                            <li><a href="/filter_add?area=Phương Canh">Phương Canh</a></li>
                        </ul>
                    </div>


                    <div class="filter-box mt-3">
                        <div class="filter-title">Xem theo khoảng giá</div>
                        <div class="filter-list-container">
                            <ul class="filter-list">
                                <li><a href="/filter_price?minPrice=0&maxPrice=1">› Dưới 1 triệu</a></li>
                                <li><a href="/filter_price?minPrice=2&maxPrice=3">› Từ 2 - 3 triệu</a></li>
                                <li><a href="/filter_price?minPrice=5&maxPrice=7">› Từ 5 - 7 triệu</a></li>
                                <li><a href="/filter_price?minPrice=10&maxPrice=15">› Từ 10 - 15 triệu</a></li>
                            </ul>
                            <ul class="filter-list">
                                <li><a href="/filter_price?minPrice=1&maxPrice=2">› Từ 1 - 2 triệu</a></li>
                                <li><a href="/filter_price?minPrice=3&maxPrice=5">› Từ 3 - 5 triệu</a></li>
                                <li><a href="/filter_price?minPrice=7&maxPrice=10">› Từ 7 - 10 triệu</a></li>
                                <li><a href="/filter_price?minPrice=15&maxPrice=1000">› Trên 15 triệu</a></li>
                            </ul>
                        </div>
                        <div class="filter-title" style="margin-top: 20px;">Xem theo diện tích</div>
                        <div class="filter-list-container">
                            <ul class="filter-list">
                                <li><a href="/filter_acreage?minAcreage=0&maxAcreage=20">› Dưới 20 m²</a></li>
                                <li><a href="/filter_acreage?minAcreage=25&maxAcreage=30">› Từ 25 - 30m²</a></li>
                            </ul>
                            <ul class="filter-list">
                                <li><a href="/filter_acreage?minAcreage=20&maxAcreage=25">› Từ 20 - 25m²</a></li>
                                <li><a href="/filter_acreage?minAcreage=30&maxAcreage=900">› Trên 30m²</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="audio__sidebar__item mt-3">
                        <h4>Mới nhất</h4>
                        <div class="audio__sidebar__recent" th:each="product, iterStat : ${latestRooms}">
                            <a href="#" class="audio__sidebar__recent__item">
                                <div class="audio__sidebar__recent__item__pic" th:if="${product.video != null}">
                                    <video controls>
                                        <source th:src="@{'font/images/' + ${product.video}}" type="video/mp4">
                                    </video>
                                </div>
                                <div class="audio__sidebar__recent__item__pic" th:if="${product.video == null}">
                                    <img th:src="@{'font/images/' + ${product.imageUrlList[0]}}" alt="">
                                </div>
                                <div class="audio__sidebar__recent__item__text">
                                    <h6 th:text="${product.nameproduct}"></h6>
                                </div>
                            </a>

                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-9 col-md-7">
                <div class="product__discount">
                    <div class="section-title product__discount__title ml-3">
                        <h2 class="mt-4">TÌM TRỌ NHANH – NHẬN NGAY ƯU ĐÃI</h2>
                    </div>
                    <div class="row ml-2 mr-2">
                        <div class="product__discount__slider owl-carousel">

                            <div class="col-lg-4" th:each="discount : ${menulistdiscount}">
                                <div class="product__discount__item pl-0">
                                    <div class="product__discount__item__pic set-bg"
                                         th:with="imgSrc=${discount.product.video != null} ? '/font/images/' + ${discount.product.video} : '/font/images/' + ${discount.product.imageUrlList[0]}"
                                         th:attr="data-setbg=@{${imgSrc}}">
                                        <div class="product__discount__percent" th:text="${discount.discount} + ' %'"></div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="filter__item">
                    <div class="row">
                        <div class="col-lg-4 col-md-5">
                            <div class="filter__sort">
                                <span>Sort By</span>
                                <select>
                                    <option value="0">Default</option>
                                    <option value="0">Default</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="filter__found">
                                <h6><span th:text="${listsize}"></span> Products found</h6>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-3">
                            <div class="filter__option">
                                <span class="icon_grid-2x2"></span>
                                <span class="icon_ul"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="product__item" th:each="product : ${menulist}">
                        <div class="col-lg-3 product__item__pic set-bg" th:if="${product.video != null}">
                            <video controls>
                                <source th:src="@{'font/images/' + ${product.video}}" type="video/mp4">
                            </video>
                        </div>
                        <div class="col-lg-3 product__item__pic set-bg" th:if="${product.video == null}" th:attr="data-setbg=@{'font/images/' + ${product.imageUrlList[0]}}"></div>
                        <div class="product__item__text ml-2">
                            <h5><a th:href="@{/detailroom(RoomID=${product.id})}" th:text="${product.nameproduct}"></a></h5>
                            <p th:text="${product.description}"></p>
                            <p th:text="'Địa chỉ: ' + ${product.address_product}"></p>
                            <div class="room-info">
                                <p th:text="'Khoảng cách: ' + ${product.distance} + 'km'"></p>
                                <p th:text="'Diện tích: ' + ${product.acreage} + 'm²'"></p>
                            </div>
                            <h5 th:text="${product.price} + 'Tr / Tháng'"></h5>
<!--                            <div class="user-info-user-partner">-->
<!--                                <div class="user-info-partner d-flex align-items-center mb-3">-->
<!--                                    <i class="fa-regular fa-user"></i>-->
<!--                                </div>-->
<!--                                <p class="ml-2" th:text="${product.user.username}"></p>-->
<!--                            </div>-->
                        </div>
                    </div>
                    <!--             Phân trang -->
                    <div class="pagination">
                        <ul>
                            <!-- Hiển thị nút trang trước (<<) nếu trang hiện tại > 1 -->
                            <li th:if="${menucurrentPage > 1}"><a th:href="@{'?pageno=' + ${menucurrentPage - 1}}"> << </a></li>
                            <!-- Hiển thị dấu "..." nếu có trang trước currentPage - 2 -->
                            <li th:if="${menucurrentPage - 2 > 1}">
                                <span>...</span>
                            </li>
                            <!-- Hiển thị các số trang, và thay thế bằng dấu "..." nếu số lượng trang nhiều -->
                            <li th:each="i : ${#numbers.sequence(1, menutotalPage)}" th:if="${i <= menucurrentPage + 2 && i >= menucurrentPage - 2}">
                                <a th:href="@{'?pageno=' + ${i}}" th:text="${i}" th:classappend="${menucurrentPage == i ? 'active' : ''}"></a>
                            </li>
                            <!-- Hiển thị dấu "..." nếu có trang sau currentPage + 2 -->
                            <li th:if="${menucurrentPage + 2 < menutotalPage}">
                                <span>...</span>
                            </li>
                            <!-- Hiển thị nút trang tiếp theo (>>) nếu trang hiện tại < totalPage -->
                            <li th:if="${menucurrentPage < menutotalPage}"><a th:href="@{'?pageno=' + ${menucurrentPage + 1}}"> >> </a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- Product Section End -->
<div th:replace="/user/frag/footeruser :: footeruser"></div>
</body>
</html>