<html>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Đăng tin</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <link th:href="@{/font/css/addroom.css}" rel="stylesheet" type="text/css">
</head>

<body>
<!-- Section: Design Block -->
<section class=" text-center text-lg-start">

    <div class="card mb-3">
        <div class="row g-0 d-flex align-items-center">
            <!-- Cột chứa ảnh -->
            <div class="col-lg-4 d-none d-lg-flex">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img4.webp" alt="Trendy Pants and Shoes"
                     class="w-100 rounded-t-5 rounded-tr-lg-0 rounded-bl-lg-5" />
            </div>
            <!-- Cột chứa form đăng nhập -->
            <div class="col-lg-8 ml-2">
                <div class="card-body py-5 px-md-5">


                    <form action="/addblog" th:action="@{/addblog}" th:object="${newblog}"  method="POST" enctype="multipart/form-data">
                        <div style="text-align: center;">
                            <h1>Đăng Thông Blog</h1>
                        </div>

                        <!-- Các phần tử trong form -->
                        <div data-mdb-input-init class="form-outline mb-4">
                            <label class="form-label" for="nameblog">Tên tiêu đề</label>
                            <input type="text" id="nameblog" name="nameblog"  th:field="*{blog_name}" class="form-control" />
                        </div>

                        <div class="form-outline mb-4">
                            <label class="form-label" for="image_blog">Ảnh phòng</label>
                            <input type="file" name="image_blog"  id="image_blog" th:field="*{blog_img}" class="form-control" />
                        </div>

                        <div data-mdb-input-init class="form-outline mb-4">
                            <label class="form-label" for="Description">Mô tả</label>
                            <input type="text" id="Description" name="description" th:field="*{blog_content}" class="form-control" required/>
                        </div>

                        <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-4">
                            Đăng tin
                        </button>

                    </form>
                </div>

            </div>
        </div>
    </div>

</section>
<!-- Section: Design Block -->
</body>

<!--<script>-->
<!--    document.querySelectorAll('input[name="fileType"]').forEach((elem) => {-->
<!--        elem.addEventListener("change", function() {-->
<!--            if (this.value === "image") {-->
<!--                document.getElementById("imageUpload").style.display = "block";-->
<!--                document.getElementById("videoUpload").style.display = "none";-->
<!--            } else {-->
<!--                document.getElementById("imageUpload").style.display = "none";-->
<!--                document.getElementById("videoUpload").style.display = "block";-->
<!--            }-->
<!--        });-->
<!--    });-->
<!--</script>-->


</html>

